body{
	font-family: "Comic Sans MS";
	font-size: 1em;
}
.kakInfo{
	font-weight: bold;
}
 .kakHelpers{
	color: #FF0000;
	background-color: #00FF00;
	border-color: #0000FF
}
#kakName{
	position: absolute;
	top: 10px;
	left: 26px;
}
#kakImage{
	border-radius: 50%;
}
.footerBoys{
	position: absolute;
	top: 710px;
	font-size: 1em;
	font-weight: bold;
	font-family: "Comic Sans MS";
	margin-right:-700px;
	margin-left:-700px;
}
#madeByMe{
	left: 250px; 
}